.opener {
    /* margin: 10em; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    max-width: 800px;
    min-height: 100dvh;
}

.opener_content {
    margin: 2em;
    text-align: center;
    /* width: 70%; */
}

.opener_picture {
    margin: 2em;
    width: 30%;
    background-color: #000000;
}

a {
    color: black;
}